<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AccessDb" connectionString="Data Source=SCADA.accdb;"/>
  </connectionStrings>
  <appSettings>
    <add key="port" value="COM1"/>
    <add key="baud" value="9600"/>
    <add key="data_bit" value="8"/>
    <add key="parity" value="None"/>
    <add key="stop_bit" value="One"/>
  </appSettings>
</configuration>